version: '3.8'

services:
  db:
    image: percona:latest
    container_name: mysql
    environment:
     MYSQL_DATABASE: app
     MYSQL_ROOT_PASSWORD: toor
    ports:
      - 3306:3306
    networks:
      - local
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:

networks:
  local:
    driver: bridge